<ul>
	<li><a href="#europeana-channels">europeana channels</a></li>
	<li><a href="#online-exhibitions">online exhibitions</a></li>
	<li><a href="#about-europeana">about europeana</a></li>
</ul>

<ul id="europeana-channels">
	<li>Archaelogy</li>
	<li>Architecture</li>
	<li>Art &amp; Art History</li>
	<li>Classical Literature</li>
	<li><a href="/channels/fashion">Fashion</a></li>
	<li>First World War</li>
	<li>Food & Drink</li>
	<li>Maps & Cartography</li>
	<li>Migration</li>
	<li>Military History</li>
	<li><a href="/channels/music">Music</a></li>
	<li>Natural History</li>
	<li>Newspapers</li>
	<li>Performing Arts</li>
	<li>Philosophy</li>
	<li>Religion</li>
	<li>Science & Technology</li>
	<li>Sport</li>
</ul>

<ul id="online-exhibitions">
	<li>darwinism: reception in span and catalonia</li>
	<li>napoleonic wars</li>
	<li>wedding shoes of the 15th century</li>
	<li>dutch painters from the 17th century</li>
	<li>political cartoons of the first war</li>
	<li>explore the world of musical instruments</li>
</ul>

<ul id="about-europeana">
	<li>Europeana unlocks the digital collections of Europe's cultural heritage. At present, 142 european musea, libraries, archives and galleries contribute to our ever growing collection of 32,698,244 items.</li>
</ul>