<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="home-search-box">
		<a href="/"><img src="//develop.styleguide.eanadev.org/images/footer_logo.svg" alt="Europeana - think culture"></a>
    <%= render_search_bar  %>
  </div>
</div>