@import 'http://styleguide.europeana.eu/css/screen.css';

.home-search-box {
	background-color: #fff;
	padding: 20px;
	width: 300px;
	height: 300px;
}

@media all and (min-width: 60em) {
	// http://css-tricks.com/perfect-full-page-background-image/
	body.blacklight-catalog-index {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
