//@import 'http://styleguide.europeana.eu/css/screen.css';
body {
	margin: 0;
}

ul {
	margin: 0;
}
.search-box-index {
	position: absolute;
	top: 0;
	left: 5%;
	background-color: #fff;
	padding: 20px;
	width: 320px;
	height: 310px;
}

.search-box-show {
	position: absolute;
	top: 0;
	left: 5%;
	padding: 20px;
	width: 490px;
	height: 190px;
}

.search-box-show a {
	display: block;
	overflow: auto;
	margin-bottom: 1em;
	text-decoration: none;
}

.search-box-show img {
	float: left;
}

span.channel-id {
	font-size: 190%;
	float: left;
	margin: 15px 0 0 10px;
	color: #fff;
	font-family: sans-serif;
}

#header-navbar {
	float: right;
}

#header-navbar a {
	font-family: sans-serif;
	color: #fffff0;
	text-decoration: none;
}

@media all and (min-width: 60em) {
	// http://css-tricks.com/perfect-full-page-background-image/
	body.hero {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.hero {
		background-repeat: no-repeat;
		background-position: top center;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
